@use "./preview";

#modal.ticket{
  .item{
    &.deleted{
      transition-duration: 250ms;
      background: #fff1f0;
      border-color: #ff341a!important;
      .sg-media{
        transition-duration: 250ms;
        background: #fff1f0;
      }
    }
    &.approved{
      border-color:#60d399!important;
    }
    &.reported{
      border-color:#ff7968!important;
    }
    .preview-comments{
      .comment-item{
        &.deleted{
          transition-duration: 250ms;
          background: #fff1f0;
          border: 2px solid#ff341a!important;
          border-radius:5px;
          .comment-container{
            padding:12px!important;
          }
          .show-delmenu{
            display:none;
          }
        }
      }
    }
  }
  .comment-removal{
    position:relative;
    width:100%;
    border-radius:5px;
    bottom:0;
    background: black;
    position: relative;
    padding: 8px 0px;
    margin-top: 8px;
  }
}

//popup
.comp-popup{
  .comp-close-area{
    height: 100%;
    width: 100%;
    z-index: 998;
  }
  .comp-popup-content{
    position: absolute!important;
    z-index: 999;
    transition-duration: 150ms;
    transition-property: margin;
    .warnpop{
      width: 400px!important;
    }
  }
}