$primary: #bdc7fb;

[class ^= 'Header-module'], div[class ^= 'brn-header-placeholder'], .brn-footer, #html .mint .mint-header, #moderate-functions-panel .covering-text, footer[data-testid = 'footer_layout'],.brn-header-placeholder, #footer{
    background-color: $primary!important;
    border-bottom-color: $primary!important;
  }