div[data-testid = 'feed-item']{
    position:relative;
    &.reported{
        .report-flag{
            use{
                fill: #ff341a;
            }
        }
    }
    .report-flag{
        &:hover{
            background:transparent!important;
        }
    }

    .brn-feed-item__footer{
        >div{
            display:flex;
            justify-content: space-around;
            .action-menu{
                display:flex;
            }
        }
    }
}