div[data-testid = 'feed-item']{
    position:relative;
    &.reported{
        .report-flag{
            use{
                fill: #ff341a;
            }
        }
    }
    .report-flag{
        &:hover{
            background:transparent!important;
        }
    }

    .action-menu{
        position:absolute;
        right:24px;
        bottom:24px;
    }
}