div[data-testid = 'add_answer_box']{
  span[data-slate-node = 'text'].highlight{
    padding: 4px 8px;
    background: #ff7968;
    border-radius: 7px;
  }
}
.answer-word-count{
  pointer-events: none;
  background:transparent;
  height: 30px!important;
  width: 30px!important;
  position: absolute;
  right: 16px;
  bottom: 16px;
  display:flex;
  justify-content: center;
  align-items: center;
  #acount{
    height: 30px!important;
    width: 30px!important;
  }
  .remaining-count{
    position: absolute;
    font-size: 14px;
    font-weight: 600;
  }
}